.post-preview {
    margin: 10px 0px;
}

.container-comment-div {
    margin: 30px 0px;
}

.post-custom-list {
    padding: 20px 0px;
}

.container-comment {
    padding: 45px 0px;
}

.img-profile {
    width: 20%;
}

a {
    text-decoration: none;
}

.card-body {
    height: 150px;
}